body{
  text-align: center;
  margin: auto;
}

th {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

table {
  padding: 0px;
  border-collapse: collapse;
  margin: auto;
}

#palette div{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
}
.blue{
  background-color: blue;
}
.green{
  background-color: lightgreen;
}
.sky{
  background-color: skyblue;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.white{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.yellow{
  background-color: yellow;
}
.pink{
  background-color: pink;
}
.magenta{
  background-color: magenta;
}
.teal{
  background-color:teal;
}
.turquoise{
  background-color: turquoise;
}
.navy{
  background-color: navy;
}
