td, th{
  border: 1px solid black;
}
th {
  width: 50px;
  height: 50px;
}

table {
  padding: 0px;
  border-collapse: collapse;
  margin: 0px;
}

#palette div{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
}
.blue{
  background-color: blue;
}
.green{
  background-color: lightgreen;
}
.sky{
  background-color: skyblue;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
